<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
 	<!-- 打印查询语句 -->
    <!--<settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>-->
     
 	 <typeAliases>
<!--         <package name="com.jk.model.*"/> -->
		<typeAlias type="com.jk.model.User" alias="user"/>
         <typeAlias type="com.jk.model.Tree" alias="tree"/>
         <typeAlias type="com.jk.model.Goods" alias="goods"/>
     </typeAliases>
     
 </configuration>